body{
	background:  #ffe2ab;
	font-size: 3vh;
	margin: 0;
}

 html{
 	height: 100%;
 }

#content{
padding-top: 5%;
padding-right: 5%;
padding-left: 10%;
height: 95%;
}

.workPlace{
	width: 65%;
	min-width: 300px;
	max-height: 80%;	
	background: black;
	height: 70vh;
	float: left;
}

.instr{
	float: left;
	width: 35%;
	min-width: 300px;
	height: 70vh;
	max-height: 80%;	
	background: red;
}

.button{
	float: left;	
	width: 100%;
	height: 25%;
	background: #94ACE0;
	transition: 0.1s;
	text-align: center;
}



footer {
	float: left;    
    left: 0; bottom: 0;
    padding: 2%;
    background: pink transparent;
    color: black;
    width: 96%;
    text-align:  center;
    font-size: 6vh;
    font-family: websymbol;
    letter-spacing: 2vh;     
    }


a{
	text-decoration: none;
	color: #000;
	transition: 0.5s;
}
a:hover{
	text-shadow: 0 0 0.5vh black;
}

@font-face {
    font-family: websymbol;
    src: url(../resource/fonts/websymbolsligaregular.ttf);
   }

 @media screen and (min-width: 0px) and (max-width: 1024px) {
     body { background: green; }
     #content{
     padding-top: 0;
	 padding-right: 0;
	 padding-left: 0;
	 height: 95%;
 	}
     
    .workPlace{
	width: 100%;
	height: 60vh;
}

.instr{	
	width: 100%;
	height: 30vh;
}
   }

.button:hover{
	background: #244899;
	cursor: pointer;
	box-shadow: inset 5vh 0 0 0 #fff;
}

